# Files to 'gitignore' in the Open Geometry Prover (OGP) project

# Compilation
*.o

# Created by an OGP executable
*.err
*.log
*.out
*.result
*.time

# OGP GDDM prover
provers/ogpgddm/src/#*
provers/ogpgddm/src/*.hh
provers/ogpgddm/src/libogpgddm.a
provers/ogpgddm/src/libogpgddm.so
provers/ogpgddm/src/libogpgddm.so.1
provers/ogpgddm/src/libogpgddm.so.1.0
provers/ogpgddm/src/ogpgddmDynamicLib
provers/ogpgddm/src/ogpgddmStaticLib
provers/ogpgddm/src/ogpgddm
provers/ogpgddm/src/parser.cpp
provers/ogpgddm/src/parser.hpp
provers/ogpgddm/src/scanner.cpp
provers/ogpgddm/local/

# OGP Provers-Generator (PG) for GDDM
provers/pg/local/