# Files to 'gitignore' in the Open Geometry Prover (OGP) project

# Compilation
*.hh
*.o

# Created by an OGP executable
*.err
*.log
*.out
*.result
*.time

# OGP GDDM prover
provers/ogpgddm/src/ogpgddm
parser.cpp
parser.hpp
scanner.cpp
provers/ogpgddm/local/
provers/ogpgddm/tests/*.fp
provers/ogpgddm/tests/local/
provers/pg/local/